*{box-sizing: border-box;}

html{padding: 0; margin: 0;}

body {
  height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
	background-color: #ded8d7;
}
a{
    color: white;
    text-decoration: none;
}
/* .menu{
    text-align: center;
    display: inline;
    border: 2px solid black;
} */

header{background: black; padding: 25px 0px 5px 0px; display: flex;}
.contenitore_top {margin: 12% 0 0 0;}
.contenitore_top_em {margin: 6% 0 0 0;}
.larghezza{
    width: 100%;
}
header div{width: fit-content;}
.tit{
    text-align: center; 
    width: 100%;
    display: block;
    font-size: 55px;
}
.titem{
  text-align: center; 
  width: 100%;
  display: block;
  font-size: 75px;
}


.tit_em{
  text-align: center; 
  width: 100%;
  display: block;
  font-size: 55px;
}
.dx{
  float: right;

}
.sx{
  float: left;
}

#menu{
    text-align: center;  
    margin: 35px 20px 20px 20px;
}
#menu li{
  display: inline;

}
#menu li a{
    margin: 25px; 
    font-size: 20px;
   
}

#accedi{
  text-align: center; 
  margin: 35px 20px 20px 20px;
}
#accedi li{
  display: inline;

}
#accedi li a{
  margin: 12px;
  padding: 13px; 
  font-size: 20px;

  border: 0.5px solid white;
 
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white; 
  margin: 2px;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(100,100,100,100); 
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content{
  margin: 2px 16px;
}

.main-carousel{
  padding: 40px 0px 40px 0px; 
  
  position: relative; /* Imposta la posizione relativa per contenere i pulsanti */
  scroll-behavior: smooth; /* Aggiunge uno scorrimento fluido */
  
  
}
.carousel-item { 
  width: 22%;
  margin-left:3%;
} 
.carousel-item a {
  display: block; 
  text-align: center; 
} 

.fontpalle{
  font-size: 35;
}

.tony_boy
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 50%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg, rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/tony.png');
  background-size: cover;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}

.kid_yugi
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg, rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/yugi.png');
  background-size: cover  ;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}

.artie_5ive
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg,rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/artie.png');
  background-size: cover  ;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}

.digital_astro
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg,rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/digital-astro.png');
  background-size: cover  ;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}

.nerissima
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg,rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/nerissima.png');
  background-size: cover  ;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}

.papa_v
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg, rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/papa.png');
  background-size: cover  ;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}

.low_red
{
  height: 350px;
  width: 350px; 
  background-color: #666;
  border-radius: 100%;
  line-height: 350px;
  text-align: center;
  margin-right: 40px;
  background: linear-gradient(0deg, rgba(48, 48, 48, 0.6), rgb(0, 0, 0)), url('foto/low-redd.png');
  background-size: cover  ;
  margin-right: 20px; 
  transition: 1.5s;
  display: inline-block
}


.TY{
  color: white;
  font-size: 50px;
  }


.contenitore{
  /* padding: 2%;  */
  margin: 0 auto;
  float: left;
  
}
.contenitoreem{
  padding: 2%;
  margin: 0 auto;
  float: left;
}


.cimg1{
  margin: 40px;
  float: right;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.5); 
}

.cimg2{
  float: left;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.5); 
  margin: 40px;
  
}

.cimg3{width: 400px; align-items: center;}
.cimg3 img{
  width: 100%;
}
.cimg4{
  margin: 40px;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.5); 

}

.cimg4em{
  margin: 40px;
  box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.5); 
  float: right;
}
.cimgspo{
  margin: 40px;
  float: right;
  max-height: 250px;
} 

.cimgspo a{
  width: auto;
  height: 100%;
}

.imgresp{
  width: 100%;
  height: auto;
}
.clearfix{clear: both;}

.sfondo-sfumato {
  background: linear-gradient(to bottom, black, #ded8d7);
  padding: 40px;
}
.contenitore_top a:hover{
  background-color: rgb(41, 41, 41);
}
.contenitore_top .dropdown-content a:hover{
  background-color: #ded8d7;
}

.contenitore_top a{
  transition: .5s;
}

.contenitore_top_em a:hover{
  background-color: rgb(41, 41, 41);
}
.contenitore_top_em .dropdown-content a:hover{
  background-color: #ded8d7;
}

.contenitore_top_em a{
  transition: .5s;
}

.cimgspo:hover{
  background-color: rgb(41, 41, 41);
  padding: 0px;
}
.cimgspo{
  transition: .5s;
}
.contenitore_top_em a{
  transition: .5s;
}

.footer{
  overflow: hidden;
  background-color: black;
  text-align: center;
  padding: 30px;
  color: white;
  width: 100%;
}
.margin{margin: 0 40px 40px 40px;}

.cimgalb:hover{
  margin: 0 55px 0 55px;
}

.cimgalb{
  width: 200px;
  height: 200px;
  margin: 2px;
  transition: .5s;
}

.inlinea{
  display: flex;
}

.card-articolo{
  display: flex;
  border: 1.5px solid black;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 5px;
}
.card-articolo__img {
  width: 150px;
  height: 150px;
}
.card-articolo__img img {
  width: 100%;
}
.card-articolo__testo {
  align-items: center;
  padding: 10px;
}
.link-scheda {
  font-size: 10px;
}

.foto {
  float: right;
  width: 30%;
}
.foto img {
  width: 100%;
  margin-left: 10px;
}
.descrizione {
  text-align: left;
  font-size: 12px;
}

form {
  background: white;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px #ccc;
  color: blue;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  color: #0779e4;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid blue;
}

form input[type="submit"] {
  background: blueviolet;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background: #0779e4;
}

.shop-item {
  float: left;
  width: 30%;
  margin: 1.5%;
  padding: 10px;
  box-shadow: 0 0 30px black;
  background: #fff;
  text-align: center;
}

.shop-item img {
  max-width: 100%;
}

.shop-item h3 {
  margin: 0;
  padding: 10px 0;
}

.shop-item p {
  font-size: 16px;
  color: #333;
}

.shop-item .price {
  font-size: 20px;
  color: #0779e4;
}

.shop-item .add-to-cart {
  background: #333;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

.shop-item .aggiungi-a-cart:hover {
  background: #0779e4;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.link-botton {
  display: inline-block;
  padding: 3px 6px;
  background-color: #444;
  color: #FFF;
  border: 1px solid #222;
  border-radius: 3px;
  text-decoration: none;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.contenuto {
	width: 550px;
	margin: auto;
	padding: 50px;
	text-align: center;
  background-color: black;
  color: white;
	padding-bottom: 50px;
  box-shadow: 0 0 100px black;
}
.contenutoreg {
	width: 550px;
	margin: auto;
	padding: 30px 50px 0 50px;
	text-align: center;
  background-color: black;
  color: white;
	padding-bottom: 40px;
  box-shadow: 0 0 100px black;
}
.cimgcarr{
  margin: 40px;
  float: right;
  max-height: 260px;
  
} 

.gay{
  padding: 20px;
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
  color: black;
  text-decoration: none;  
  font-size: 25px;
  text-align: center;
}

#tab_dati_personali{
	
	text-align: left;
	margin: auto;
}

#menu{
  text-align: center;  
  margin: 55px 0px 0px 0px;
}
.contcarr{
  margin: auto;
  border: 2px solid black;
  background-color: #FFF;
  width: 600px;
  box-shadow: 0 0 100px black;
}
.sfondoimm{
  height: 700px;
  background-image: url('foto/sfondo.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}